/* 
    Document   : parent
    Created on : 20-mrt-2012, 14:33:15
    Author     : Niels
    Description:
        Purpose of the stylesheet follows.
*/

#content .screen {
    width: 340px;
    min-height: 250px;
    padding: 25px;
    margin: 50px auto;
    border: 2px #222 solid;
    border-radius: 15px;
}

ul.steps {
    list-style: none;
}

ul.steps li {
    display: inline;
}

.information {
    clear: both;
}

input[type='checkbox'] {
    display: inline;
    margin-right: 5px;
    margin-bottom: 5px;
}

.italic {
    font-style: italic;
}

td.free, th.head {
    text-align: center;
}

.justify {
    text-align: justify;
}

form {
    clear: both;
}

.btnPrint {
    margin-bottom: 10px;
}

table.calendar {
    height:100px;
	overflow:auto;
	margin:0; padding:5px; border:0;
	scrollbar-face-color: #6095C1;
	scrollbar-highlight-color: #C2D7E7;
	scrollbar-3dlight-color: #85AECF;
	scrollbar-darkshadow-color: #427AA8;
	scrollbar-shadow-color: #315B7D;
	scrollbar-arrow-color: #FFFFFF;
	scrollbar-track-color: #4DECF8S;
	text-align:justify;
	background-color: #E1F2FB;
}